body {
  background: #333;
  margin: 0;
}

.box {
  background: #fff;
  width: 200px;
  height: 200px;
  position: relative;
  animation-name: myanimation;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /* animation-delay: 2s;
  animation-direction: alternate; */
  animation-timing-function: ease-in;
}

.wrapper {
  margin-top: 150px;
  height: 100vh;
}

.grass,
.sky,
.road {
  position: relative;
}

.sky {
  height: 40%;
  background: skyblue;
}

.grass {
  height: 30%;
  background: seagreen;
}

.road {
  height: 30%;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines {
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0;
  width: 100%;
  position: absolute;
  top: 50%;
}

.mario {
  position: absolute;
  top: 10%;
  left: 0;
  animation-name: drive;
  animation-duration: 3s;

  /* This line will make Mario stay at the end of the road */
  /* animation-fill-mode: forwards; */
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  /* animation-delay: 2s; */
  animation-timing-function: linear;

  /* Reference 'cubic-bezier.com' to create custom curves */
  /* animation-timing-function: cubic-bezier(0, .77, 1, 0.28); */
}

.luigi {
  position: absolute;
  top: 60%;
  left: 0;
  animation-name: drive;
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: reverse;
  animation-timing-function: linear;
}

.cloud {
  position: absolute;
}

.cloud:nth-child(1) {
  top: 140px;
  opacity: 0.5;
  animation: wind 50s linear infinite reverse;
}

.cloud:nth-child(2) {
  top: 0;
  animation: wind 30s linear infinite reverse;
}

@keyframes drive {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(1000px);
  }
}

@keyframes wind {
  from {
    left: -200px;
  }
  to {
    left: 100%;
  }
}

/* @keyframes myanimation {
  0% {
    background-color: white; left: 0px; top: 0px; border-radius: 0 0 0 0;
  }

  25% {
    background-color: red; border-radius: 50% 0 0 0;
  }

  50% {
    background-color: green; left: 300px; top: 300px; border-radius: 50% 50% 0 0;
  }

  75% {
    background-color: blue; left: 0px; top: 300px; border-radius: 50% 50% 50% 0;
  }

  100% {
    background-color: white; left: 0px; top: 0px; border-radius: 50% 50% 50% 50%;
  }
} */

@keyframes myanimation {
  0% {
    background-color: white;
    border-radius: 0 0 0 0;
  }

  25% {
    background-color: red;
    border-radius: 50% 0 0 0;
  }

  50% {
    background-color: green;
    border-radius: 50% 50% 0 0;
  }

  75% {
    background-color: blue;
    border-radius: 50% 50% 50% 0;
  }

  100% {
    background-color: white;
    border-radius: 50% 50% 50% 50%;
  }
}
