body {
  background: lightblue;
  position: relative;
}

.box {
  background: white;
  width: 300px;
  height: 300px;
  position: relative;
  margin: auto;
  top: 50px;
  /* transition-property: background, border-radius, transform; */
  transition-property: all;
  transition-duration: 1s;
  /* transition-delay: 2s; */
  transition-timing-function: ease-in;
}

.box:hover {
  background: red;
  border-radius: 50%;
  transform: rotateY(180deg);
}

.wrapper {
  width: 100%;
  position: relative;
  top: 200px;
  text-align: center;
  box-sizing: border-box;
}

.circle {
  margin: 50px auto;
  width: 100px;
  padding: 50px 10px;
  background: pink;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  left: 500px;  
  transition: background 500ms ease, transform 1000ms 500ms ease;
}

.circle:hover {
  background: salmon;
  transform: rotate(360deg);
}
/*
TRANSITIONAL PROPERTIES
-Properties that have an identifiable halfway point

background-color
background-position
border-color
border-width
border-spacing
bottom
color
font-size
font-weight
height left
letter-spacing
line-height
margin
max-height
max-width
min-height
min-width
opacity
outline-color
outline-offset
outline-width
padding right
text-indent
text-shadow
top
vertical-align
visibility
width
word-spacing
z-index */
